<footer th:fragment="footerBlock">
  <!-- footer -->
  <div class="footer">
    <link rel="stylesheet" href="/css/footer.css">
    <div class="wrapper">
      <div class="left">
        <h2><a href="#">Smart Towns</a></h2>
        <p>More than just a digital high street, it connects consumers, businesses, towns and local authorities
          for a completely joined up approach. Smart towns make it easier for consumers to buy, find, see and
          do where they live and work, creating a better sense of community.</p>
        <a href="#" class="download">Download App</a>
        <p>@2023 Smart Towns Inc. All rights reserved.</p>
        <p></p>
      </div>
      <div class="right">
        <dl>
          <dt>About</dt>
          <dd><a href="/about">About Us</a></dd>
          <dd><a href="/myaccount">User</a></dd>
          <dd><a href="#">Contact Us</a></dd>
          <dd><a href="#">Q&A</a></dd>
        </dl>
        <dl>
          <dt>Service</dt>
          <dd><a href="/towns">Towns</a></dd>
          <dd><a href="/trails/1">Trails</a></dd>
          <dd><a href="/checkpoint/1">CheckPoints</a></dd>
          <dd><a href="/trailsmap/1">Map</a></dd>
        </dl>
      </div>
    </div>
  </div>

</footer>
