/* CSS for homepage */
.wrapper {
    width: 1200px;
    margin: 0 auto;
}

body {
    background-color: #f3f5f7;
}

/* header */
.header {
    padding-top: 20px;
    height: 90px;
    background-color: #fff;
}

.header .wrapper nav{
    display: flex;
}
