/* CSS for homepage */
.wrapper {
    width: 1200px;
    margin: 0 auto;
}

body {
    background-color: #f3f5f7;
}

/* header */
.header {
    padding-top: 20px;
    height: 90px;
    background-color: #fff;
}

.header .wrapper nav{
    display: flex;
}

/* search */
.search {
    display: flex;
    margin-left: 164px;
    margin-top: 10px;
    padding-left: 19px;
    padding-right: 12px;
    width: 212px;
    height: 32px;
    border-radius: 20px;
    background-color: #f3f5f7;
}

.search input {
    flex: 1;
    border: 0;
    background-color: transparent;
    /* background-color: #f3f5f7; */
    outline: none;
}

/* placeholder text style */
.search input::placeholder {
    color: #999;
    font-size: 14px;
}

.search a{
    align-self: center;
    width: 16px;
    height: 16px;
    background-image: url(../../img/search.png);
}

/* user */
.user {
    margin-left: 152px;
    margin-top: 10px;
}

.user img {
    margin-right: 7px;
    /* vertical-align used for inline block center */
    vertical-align: middle;
}

.user span {
    font-size: 16px;
    color: #666;
    vertical-align: middle;
}

/* banner */
.banner {
    height: 450px;
    background-color: #0092cb;
    opacity: 0.9;
}

.banner .wrapper{
    display: flex;
    justify-content: space-between;
    height: 450px;
    width: 1200px;
    background-image: url(../../img/town0.png);
}

/* left banner */
.banner .left {
    padding: 130px 20px;
    width: 300px;
    height: 450px;
    background-color: rgba(0, 0, 0, 0.42);
    color: #fff;
}

/* side nav */
.banner .left a {
    display: block;
    height: 46px;
    background: url(../../img/right.png) no-repeat right center;
    line-height: 46px;
    font-size: 16px;
    color: #fff;
}

.banner .left a:hover {
    background-image: url(../../img/right-hover.png);
    color: #00a4ff;
}

/* recommend */
.recommend {
    display: flex;
    margin-top: 11px;
    padding: 0px 20px;
    height: 60px;
    background-color: #fff;
    box-shadow: 0 1px 2px 0 rgba(211, 211, 211, 0.5);
    /* line-height = box height */
    line-height: 60px;
}

.recommend h3 {
    margin-right: 20px;
    font-size: 18px;
    color: #00a4ff;
}

.recommend ul {
    flex: 1;
    display: flex;
}

.recommend ul li a {
    padding: 0 24px;
    border-right: 1px solid #e0e0e0;
    font-size: 18px;
}

.recommend ul li:last-child a {
    border-right: none;
}

.recommend .modify {
    font-size: 16px;
    color: #00a4ff;
}

.item {
    margin-top: 15px;
}
