.wrapper {
    font-family: Inter, sans-serif;
    margin: 20px auto;
    width: 1200px;
    padding: 0;
}

.checkpointPic {
    width: 60%;
    max-width: 574px; /* set maximum width for the image */
    display: block;
    margin: 0 auto;
}

.checkpointName {
    font-size: 36px;
    font-weight: bolder;
    text-align: center;
}

.title {
    font-size: 24px;
    font-weight: bold;
}

.content {
    font-size: 15px;
    margin-bottom: 30px;
}
