.wrapper {
    width: 1200px;
    margin: 0 auto;
}

.footer {
    margin-top: 60px;
    padding-top: 60px;
    /* height: 273px; */
    background-color: #00a4ff;
}

.footer .wrapper {
    display: flex;
    justify-content: space-between;
}

.footer .left {
    width: 450PX;
}

.footer .left p {
    margin-top: 20px;
    margin-bottom: 14px;
    font-size: 14px;
    line-height: 17px;
    color: #fff;
}

.footer .left .download {
    padding: 5px;
    display: block;
    width: 130px;
    height: 40px;
    border: 2px solid white;
    border-radius: 16px;
    text-align: center;
    line-height: 34px;
}

.footer .left .download:hover {
    background-color: #fff;
    color: #00a4ff;
}

.footer .right {
    display: flex;
}

.footer .right dl {
    margin-left: 130px;
}

.footer .right dt {
    margin-bottom: 12px;
    font-size: 16px;
    line-height: 23px;
}

.footer .right a {
    font-size: 14px;
    line-height: 24px;
    color: #fff;
}
