<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/home/base.css">
    <link rel="stylesheet" href="../static/css/home/index.css">
    <title>Smart Towns Home Page</title>
</head>

<body>
    <div class="header">
        <div class="wrapper">
            <nav>
                <link rel="stylesheet" type="text/css" href="../static/css/nav.css">
                <!-- logo -->
                <div class="logo">
                    <h1><a href="#">Smart Towns</a></h1>
                </div>
                <div class="nav-tab">
                    <a class="active" href="http://localhost:8080/home">Home</a>
                    <a href="http://localhost:8080/map">Map</a>
                    <a href="http://localhost:8080/aboutUs">About Us</a>
                    <a href="http://localhost:8080/towns">Towns</a>
                </div>
                <!-- search -->
                <div class="search">
                    <input type="text" placeholder="please enter">
                    <a href="#"><img src="../static/img/search.png" alt=""></a>
                </div>
                <!-- user -->
                <div class="user">
                    <a href="http://localhost:8080/aboutMe">
                        <img src="../static/img/user.png" alt="">
                        <span>Steven</span>
                    </a>
                </div>


            </nav>
        </div>
    </div>

    <!-- banner -->
    <div class="banner"></div>
    <!-- recommend -->
    <div class="recommend"></div>
    <!-- What's happening -->
    <div class="item"></div>
    <!-- Trails -->
    <div class="wrapper"></div>
</body>

<footer>
    <!-- footer -->
    <div class="footer"></div>
</footer>

</html>