<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/base.css">
    <link rel="stylesheet" href="../static/css/index.css">
    <title>Smart Towns Home Page</title>
</head>
<body>
    <!-- header -->
    <div class="header"></div>
    <!-- banner -->
    <div class="banner"></div>
    <!-- recommend -->
    <div class="recommend"></div>
    <!-- What's happening -->
    <div class="item"></div>
    <!-- Trails -->
    <div class="wrapper"></div>
</body>

<footer>
    <!-- footer -->
    <div class="footer"></div>
</footer>

</html>
