<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/home/base.css">
    <link rel="stylesheet" href="../static/css/home/index.css">
    <title>Smart Towns Home Page</title>
</head>

<body>
    <div class="header">
        <div class="wrapper">
            <nav>
                <link rel="stylesheet" type="text/css" href="../static/css/nav.css">
                <!-- logo -->
                <div class="logo">
                    <h1><a href="#">Smart Towns</a></h1>
                </div>
                <div class="nav-tab">
                    <a class="active" href="http://localhost:8080/home">Home</a>
                    <a href="http://localhost:8080/map">Map</a>
                    <a href="http://localhost:8080/aboutUs">About Us</a>
                    <a href="http://localhost:8080/towns">Towns</a>
                </div>
                <!-- search -->
                <div class="search">
                    <input type="text" placeholder="please enter">
                    <a href="#"><img src="../static/img/search.png" alt=""></a>
                </div>
                <!-- user -->
                <div class="user">
                    <a href="http://localhost:8080/aboutMe">
                        <img src="../static/img/user.png" alt="">
                        <span>Steven</span>
                    </a>
                </div>
            </nav>
        </div>
    </div>

    <!-- banner -->
    <div class="banner">
        <div class="wrapper">
            <div class="left">
                <h2>Smart Towns</h2>
                <p>Connect with your audience like never before. Engaging both the businesses and consumers, you’re able
                    to communicate directly quickly and efficiently. From message boards for consumers to groups that
                    engage users - as well as direct messaging. We bring people together.</p>
            </div>
            <!-- slide nav -->
            <!-- <div class="left">
                <ul>
                    <li><a href="#">Toys</a></li>
                    <li><a href="#">Cloths</a></li>
                    <li><a href="#">Shoes</a></li>
                    <li><a href="#">Hats</a></li>
                    <li><a href="#">Trousers</a></li>
                </ul>
            </div> -->
        </div>
    </div>

    <!-- recommend -->
    <div class="recommend wrapper">
        <h3>Recommend</h3>
        <ul>
            <li><a href="#">News</a></li>
            <li><a href="#">Promotion</a></li>
            <li><a href="#">Trending</a></li>
            <li><a href="#">Product</a></li>
            <li><a href="#">Support</a></li>
            <li><a href="#">More Info</a></li>
        </ul>
        <a href="#" class="modify">edit</a>
    </div>

    <!-- What's happening -->
    <div class="item wrapper">
        <!-- header -->
        <div class="hd">
            <h3>What's happening</h3>
            <a href="" class="more">view all</a>
        </div>
        <!-- content -->
        <div class="bd">
            <ul>
                <li>
                    <a href="#">
                        <div class="img"><img src="../static/img/town0.png" alt="content1"></div>
                        <div class="text">
                            <h4>Town Name</h4>
                            <p><span>new</span> - <i>1123</i> view</p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="img"><img src="../static/img/town1.jpg" alt="content2"></div>
                        <div class="text">
                            <h4>Town Name</h4>
                            <p><span>new</span> - <i>1123</i> view</p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="img"><img src="../static/img/town2.jpg" alt="content3"></div>
                        <div class="text">
                            <h4>Town Name</h4>
                            <p><span>new</span> - <i>1123</i> view</p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="img"><img src="../static/img/town3.jpg" alt="content4"></div>
                        <div class="text">
                            <h4>Town Name</h4>
                            <p><span>new</span> - <i>1123</i> view</p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="img"><img src="../static/img/town4.jpg" alt="content5"></div>
                        <div class="text">
                            <h4>Town Name</h4>
                            <p><span>new</span> - <i>1123</i> view</p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="img"><img src="../static/img/town4.jpg" alt="content6"></div>
                        <div class="text">
                            <h4>Town Name</h4>
                            <p><span>new</span> - <i>1123</i> view</p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="img"><img src="../static/img/town2.jpg" alt="content7"></div>
                        <div class="text">
                            <h4>Town Name</h4>
                            <p><span>new</span> - <i>1123</i> view</p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="img"><img src="../static/img/town3.jpg" alt="content8"></div>
                        <div class="text">
                            <h4>Town Name</h4>
                            <p><span>new</span> - <i>1123</i> view</p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="img"><img src="../static/img/town0.png" alt="content9"></div>
                        <div class="text">
                            <h4>Town Name</h4>
                            <p><span>new</span> - <i>1123</i> view</p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="img"><img src="../static/img/town1.jpg" alt="content10"></div>
                        <div class="text">
                            <h4>Town Name</h4>
                            <p><span>new</span> - <i>1123</i> view</p>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <!-- Trails -->
    <div class="wrapper">
        <!-- header -->
        <div class="hd">
            <h3>Trails</h3>
            <ul>
                <li><a href="#" class="active">Hot</a></li>
                <li><a href="#">Popular</a></li>
                <li><a href="#">Trending</a></li>
                <li><a href="#">News</a></li>
            </ul>
            <a href="#" class="more">View All</a>
        </div>
        <!-- content -->
        <div class="bd">
            <div class="left">
                <img src="../static/img/town5.jpg" alt="left">
            </div>
            <div class="right">
                <div class="top">
                    <img src="../static/img/town6.jpg" alt="top">
                </div>
                <div class="bottom">
                    <ul>
                        <li>
                            <a href="#">
                                <div class="img"><img src="../static/img/town3.jpg" alt="content1"></div>
                                <div class="text">
                                    <h4>Town Name</h4>
                                    <p><span>new</span> - <i>1123</i> view</p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="img"><img src="../static/img/town1.jpg" alt="content2"></div>
                                <div class="text">
                                    <h4>Town Name</h4>
                                    <p><span>new</span> - <i>1123</i> view</p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="img"><img src="../static/img/town2.jpg" alt="content3"></div>
                                <div class="text">
                                    <h4>Town Name</h4>
                                    <p><span>new</span> - <i>1123</i> view</p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="img"><img src="../static/img/town4.jpg" alt="content4"></div>
                                <div class="text">
                                    <h4>Town Name</h4>
                                    <p><span>new</span> - <i>1123</i> view</p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="img"><img src="../static/img/town3.jpg" alt="content1"></div>
                                <div class="text">
                                    <h4>Town Name</h4>
                                    <p><span>new</span> - <i>1123</i> view</p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="img"><img src="../static/img/town1.jpg" alt="content2"></div>
                                <div class="text">
                                    <h4>Town Name</h4>
                                    <p><span>new</span> - <i>1123</i> view</p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="img"><img src="../static/img/town2.jpg" alt="content3"></div>
                                <div class="text">
                                    <h4>Town Name</h4>
                                    <p><span>new</span> - <i>1123</i> view</p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="img"><img src="../static/img/town4.jpg" alt="content4"></div>
                                <div class="text">
                                    <h4>Town Name</h4>
                                    <p><span>new</span> - <i>1123</i> view</p>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

</body>

<footer>
    <!-- footer -->
    <div class="footer"></div>
</footer>

</html>