<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>MyAccount Page</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: lightsteelblue;
        }

        .account-header {
            background-color: #332;
            color: #fff;
            text-align: center;
            padding: 10px;
            height: 300px;
        }

        .user-details {
            /*display: flex;*/
            margin-top: 50px;
        }

        .user-details img {
            width: 170px;
            height: 170px;
            border-radius: 50%;
            margin-right: 20px;
        }

        .box {
            display: flex;
            justify-content: space-around;
            background-color: #444;
            padding: 20px;
        }

        .box a {
            color: #fff;
            text-decoration: none;
            font-weight: bold;
        }

        nav a {
            color: #fff;
            text-decoration: none;
            font-weight: bold;
        }

        section {
            /*padding: 20px;*/
        }

        .module {
            background-color: #fff;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            margin-bottom: 20px;
            padding: 15px;
        }

        .wrapper {
            width: 1200px;
            margin: 0 auto;
        }

        .item {
            margin-top: 15px;
        }

        /* hd */
        /* public style */
        .hd {
            display: flex;
            justify-content: space-between;
            height: 60px;
            line-height: 60px;
        }

        .hd h3 {
            font-weight: 400;
            font-size: 21px;
        }

        /* /* items  */
        .bd ul {
            /* bd - [public] */
            display: flex;
            /* flex box change line */
            flex-wrap: wrap;
            justify-content: space-between;
        }

        .bd li {
            margin-bottom: 14px;
            width: 228px;
            height: 271px;
            /*background-color: pink;*/
        }

        .bd li .img {
            height: 156px;
        }

        .bd li .img img {
            width: 88%;
            height: 90%;
        }

        .bd li .text {
            padding: 20px 0 20px 0;
            height: 115px;
            /*background-color: #fff;*/
        }

        .bd li .text h4 {
            margin-bottom: 13px;
            height: 40px;
            font-size: 15px;
            line-height: 20px;
            font-weight: 400;
        }

        .bd li .text p {
            font-size: 14px;
            line-height: 20px;
            color: #999;
        }

        .bd li .text p span {
            color: #fa6400;
        }

        .bd li .text p i {
            font-style: normal;
        }

        /* Newest area*/
        .hd ul {
            display: flex;
        }

        .hd li {
            margin-right: 60px;
            font-size: 16px;
        }

        .bd {
            display: flex;
            justify-content: space-between;
        }

        .bd .left img {
            width: 100%;
            height: 98%;
        }

        .bd .right img {
            width: 100%;
            height: 100%;
        }

    </style>
</head>
<body>

<!-- header-nav -->
<div class="header">
    <div class="wrapper">
        <nav>
            <link href="../static/css/nav.css" rel="stylesheet" type="text/css">
            <!-- logo -->
            <div class="logo">
                <a href="#">Smart Towns</a>
            </div>
            <div class="nav-tab">
                <a class="active" href="http://localhost:8080/home">Home</a>
                <a href="http://localhost:8080/towns">Towns</a>
                <a href="http://localhost:8080/map">Map</a>
                <a href="http://localhost:8080/about">About Us</a>
            </div>
            <!-- search -->
            <div class="search">
                <input placeholder="please enter" type="text">
                <a href="#"><img alt="" src="../static/img/search.png"></a>
            </div>
            <!-- user -->
            <div class="user">
                <a href="http://localhost:8080/aboutMe">
                    <img alt="" src="../static/img/user.png">
                    <span>Steven</span>
                </a>
            </div>
        </nav>
    </div>
</div>

<div class="wrapper">
    <div class="account-header">
        <div class="user-details">
            <img src="../static/img/Profile.jpg" alt="">
            <h1>user name</h1>
            <p>
                <a href="#">Edit Profile</a>
            </p>
        </div>
    </div>

    <div class="box">
        <a href="#" onclick="showModule('trails')">My Trails</a>
        <a href="#" onclick="showModule('finished')">Finished</a>
        <a href="#" onclick="showModule('medal')">My Medal</a>
        <a href="#" onclick="showModule('collects')">Collects</a>
    </div>


    <section>
        <!-- content of My Trails module -->
        <div class="module" id="trails">
            <!-- My Trails -->
            <div class="item wrapper">
                <!-- header -->
                <div class="hd">
                    <h3>My Trails</h3>
                </div>
                <!-- content -->
                <div class="bd">
                    <ul>
                        <li>
                            <a href="#">
                                <div class="img"><img src="../static/img/town0.png" alt="content1"></div>
                                <div class="text">
                                    <h4>Town Name</h4>
                                    <p><span>new</span> - <i>1123</i> view</p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="img"><img src="../static/img/town1.jpg" alt="content2"></div>
                                <div class="text">
                                    <h4>Town Name</h4>
                                    <p><span>new</span> - <i>1123</i> view</p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="img"><img src="../static/img/town2.jpg" alt="content3"></div>
                                <div class="text">
                                    <h4>Town Name</h4>
                                    <p><span>new</span> - <i>1123</i> view</p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="img"><img src="../static/img/town3.jpg" alt="content4"></div>
                                <div class="text">
                                    <h4>Town Name</h4>
                                    <p><span>new</span> - <i>1123</i> view</p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="img"><img src="../static/img/town4.jpg" alt="content5"></div>
                                <div class="text">
                                    <h4>Town Name</h4>
                                    <p><span>new</span> - <i>1123</i> view</p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="img"><img src="../static/img/town4.jpg" alt="content6"></div>
                                <div class="text">
                                    <h4>Town Name</h4>
                                    <p><span>new</span> - <i>1123</i> view</p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="img"><img src="../static/img/town2.jpg" alt="content7"></div>
                                <div class="text">
                                    <h4>Town Name</h4>
                                    <p><span>new</span> - <i>1123</i> view</p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="img"><img src="../static/img/town3.jpg" alt="content8"></div>
                                <div class="text">
                                    <h4>Town Name</h4>
                                    <p><span>new</span> - <i>1123</i> view</p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="img"><img src="../static/img/town0.png" alt="content9"></div>
                                <div class="text">
                                    <h4>Town Name</h4>
                                    <p><span>new</span> - <i>1123</i> view</p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="img"><img src="../static/img/town1.jpg" alt="content10"></div>
                                <div class="text">
                                    <h4>Town Name</h4>
                                    <p><span>new</span> - <i>1123</i> view</p>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <!-- content of Finished module -->
        <div class="module" id="finished">
            <!-- Finished -->
            <div class="item wrapper">
                <!-- header -->
                <div class="hd">
                    <h3>Finished</h3>
                </div>
                <!-- content -->
                <div class="bd">
                    <ul>
                        <li>
                            <a href="#">
                                <div class="img"><img src="../static/img/town0.png" alt="content1"></div>
                                <div class="text">
                                    <h4>Town Name</h4>
                                    <p><span>new</span> - <i>1123</i> view</p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="img"><img src="../static/img/town1.jpg" alt="content2"></div>
                                <div class="text">
                                    <h4>Town Name</h4>
                                    <p><span>new</span> - <i>1123</i> view</p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="img"><img src="../static/img/town2.jpg" alt="content3"></div>
                                <div class="text">
                                    <h4>Town Name</h4>
                                    <p><span>new</span> - <i>1123</i> view</p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="img"><img src="../static/img/town3.jpg" alt="content4"></div>
                                <div class="text">
                                    <h4>Town Name</h4>
                                    <p><span>new</span> - <i>1123</i> view</p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="img"><img src="../static/img/town4.jpg" alt="content5"></div>
                                <div class="text">
                                    <h4>Town Name</h4>
                                    <p><span>new</span> - <i>1123</i> view</p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="img"><img src="../static/img/town4.jpg" alt="content6"></div>
                                <div class="text">
                                    <h4>Town Name</h4>
                                    <p><span>new</span> - <i>1123</i> view</p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="img"><img src="../static/img/town2.jpg" alt="content7"></div>
                                <div class="text">
                                    <h4>Town Name</h4>
                                    <p><span>new</span> - <i>1123</i> view</p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="img"><img src="../static/img/town3.jpg" alt="content8"></div>
                                <div class="text">
                                    <h4>Town Name</h4>
                                    <p><span>new</span> - <i>1123</i> view</p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="img"><img src="../static/img/town0.png" alt="content9"></div>
                                <div class="text">
                                    <h4>Town Name</h4>
                                    <p><span>new</span> - <i>1123</i> view</p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="img"><img src="../static/img/town1.jpg" alt="content10"></div>
                                <div class="text">
                                    <h4>Town Name</h4>
                                    <p><span>new</span> - <i>1123</i> view</p>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <!-- content of My Medal module -->
        <div class="module" id="medal">
            <!-- My Medal -->
            <div class="item wrapper">
                <!-- header -->
                <div class="hd">
                    <h3>My Medal</h3>
                </div>
                <!-- content -->
                <div class="bd">
                    <ul>
                        <li>
                            <a href="#">
                                <div class="img"><img src="../static/img/town0.png" alt="content1"></div>
                                <div class="text">
                                    <h4>Town Name</h4>
                                    <p><span>new</span> - <i>1123</i> view</p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="img"><img src="../static/img/town1.jpg" alt="content2"></div>
                                <div class="text">
                                    <h4>Town Name</h4>
                                    <p><span>new</span> - <i>1123</i> view</p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="img"><img src="../static/img/town2.jpg" alt="content3"></div>
                                <div class="text">
                                    <h4>Town Name</h4>
                                    <p><span>new</span> - <i>1123</i> view</p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="img"><img src="../static/img/town3.jpg" alt="content4"></div>
                                <div class="text">
                                    <h4>Town Name</h4>
                                    <p><span>new</span> - <i>1123</i> view</p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="img"><img src="../static/img/town4.jpg" alt="content5"></div>
                                <div class="text">
                                    <h4>Town Name</h4>
                                    <p><span>new</span> - <i>1123</i> view</p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="img"><img src="../static/img/town4.jpg" alt="content6"></div>
                                <div class="text">
                                    <h4>Town Name</h4>
                                    <p><span>new</span> - <i>1123</i> view</p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="img"><img src="../static/img/town2.jpg" alt="content7"></div>
                                <div class="text">
                                    <h4>Town Name</h4>
                                    <p><span>new</span> - <i>1123</i> view</p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="img"><img src="../static/img/town3.jpg" alt="content8"></div>
                                <div class="text">
                                    <h4>Town Name</h4>
                                    <p><span>new</span> - <i>1123</i> view</p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="img"><img src="../static/img/town0.png" alt="content9"></div>
                                <div class="text">
                                    <h4>Town Name</h4>
                                    <p><span>new</span> - <i>1123</i> view</p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="img"><img src="../static/img/town1.jpg" alt="content10"></div>
                                <div class="text">
                                    <h4>Town Name</h4>
                                    <p><span>new</span> - <i>1123</i> view</p>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <!-- content of Collection module -->
        <div class="module" id="collects">
            <h2>Collects</h2>
        </div>
    </section>

</div>

<script>
    function showModule(moduleName) {
        // Hides all elements with class="module"
        document.querySelectorAll('.module').forEach(function (module) {
            module.style.display = 'none';
        });

        // Shows the element with id="moduleName"
        document.getElementById(moduleName).style.display = 'block';
    }
</script>


</body>

<footer>
    <!-- footer -->
    <div class="footer">
        <link href="../static/css/footer.css" rel="stylesheet">
        <div class="wrapper">
            <div class="left">
                <h2><a href="#">Smart Towns</a></h2>
                <p>More than just a digital high street, it connects consumers, businesses, towns and local authorities
                    for a completely joined up approach. Smart towns make it easier for consumers to buy, find, see and
                    do where they live and work, creating a better sense of community.</p>
                <a class="download" href="#">Download App</a>
                <p>@2023 Smart Towns Inc. All rights reserved.</p>
                <p></p>
            </div>
            <div class="right">
                <dl>
                    <dt>About</dt>
                    <dd><a href="#">About Us</a></dd>
                    <dd><a href="#">Join Us</a></dd>
                    <dd><a href="#">Contact Us</a></dd>
                    <dd><a href="#">Q&A</a></dd>
                </dl>
                <dl>
                    <dt>Community</dt>
                    <dd><a href="#">Our Community</a></dd>
                    <dd><a href="#">Guide</a></dd>
                    <dd><a href="#">Community</a></dd>
                </dl>
            </div>
        </div>
    </div>

</footer>
