<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Checkpoint Page</title>
    <link rel="stylesheet" href="/css/checkpoint.css">
</head>
<body>
    <div th:replace="~{fragments/header :: headerBlock}"/>
    </div>
    <div class="main">
        <img class="checkpointPic" src="/img/Cardiff-Castle-2.jpg"/>
        <div>Cardiff Castle</div>
        <div class="title">description</div>
        <div>
            Cardiff Castle is the most fascinating castle in Wales, with 2000 years of history in the heart of the city centre.
            Book tickets or get your own Castle Key.
        </div>
        <div class="title">details</div>
        <div class="content">
            Castle Ticket Prices
            <br/>
            Adult
            <br/>
            £14.50
            <br/><br/>
            Child(Ages 5 – 16, must be with an adult)
            <br/>
            £10.00
            <br/><br/>
            Senior / Student / Disabled(single carer free with each disabled ticket)
            <br/>
            £12.00
            <br/><br/>
            Adult Family Ticket(2
            Adults and 2 Children)
            <br/>
            £39.00Senior Family Ticket(2 Seniors and 2 Children)
            <br/>
            £35.00
            <br/><br/>
            Under 5s
            <br/>
            FREE
        </div>
    </div>

    <div th:replace="~{fragments/footer :: footerBlock}"/>
    </div>
</body>
</html>