<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/login/login.css">
    <title>Register</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>
<!--    <div th:replace="~{fragments/header :: headerBlock}"/>-->

<div class="container right-panel-active">

    <!-- Register -->
    <div class="container_form container--signup">
        <form action="/submitRegistration" method="post" name="register" class="form" id="form1" th:object="${user}">
            <h2 class="form_title">Register</h2>
            <label>Username (max 20char):
                <input th:field="*{name}" type="text">
            </label><br>
            <div th:errors="*{name}" th:if="${#fields.hasErrors('name')}">Username Error</div>
            <label>Email:
                <input th:field="*{email}" type="text">
            </label><br>
            <div th:errors="*{email}" th:if="${#fields.hasErrors('email')}">email Error</div>

            <label>Password:
                <input th:field="*{password}" type="password">
            </label><br>
            <div th:errors="*{password}" th:if="${#fields.hasErrors('password')}">password Error</div>

            <input name="submit" class="btn" type="submit" value="Register" />
        </form>
        <br/><br/>
    </div>

    <!-- overlay -->
    <div class="container_overlay">
        <div class="overlay">
            <div class="overlay_panel overlay--left">
                <p>
                    <b style="font-size:28px; font-family: 'Times New Roman', Georgia, serif;" title="WAR AND PEACE" target="_blank" class="w3-hover-text-blue">Smart Town</b>
                </p>
<!--                <button class="btn">Register</button>-->
            </div>
            <div class="overlay_panel overlay--right">
                <p>
                    <b style="font-size:28px; font-family: 'Times New Roman', Georgia, serif;" title="WAR AND PEACE" target="_blank" class="w3-hover-text-blue">Smart Town</b>
                </p>
                <button class="btn" id="signUp">Register</button>
            </div>
        </div>
    </div>

</div>

<!-- background -->
<div class="slidershow">
    <div class="slidershow--image" style="background-image: url('../static/img/town0.png')"></div>
    <div class="slidershow--image" style="background-image: url('../static/img/town1.jpg')"></div>
    <div class="slidershow--image" style="background-image: url('../static/img/town2.jpg')"></div>
    <div class="slidershow--image" style="background-image: url('../static/img/town3.jpg')"></div>
</div>

<!--    <div th:replace="~{fragments/footer :: footerBlock}"/>-->

</body>
</html>