<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/css/home/base.css">
  <link rel="stylesheet" href="../static/css/home/index.css">
  <title>Towns Page</title>
</head>

<body>
<!-- header-nav -->
<div class="header">
  <div class="wrapper">
    <nav>
      <link rel="stylesheet" type="text/css" href="../static/css/nav.css">
      <!-- logo -->
      <div class="logo">
        <a href="#">Smart Towns</a>
      </div>
      <div class="nav-tab">
        <!-- TODO: change active class to your page -->
        <!-- Home -> ${CityName} -->
        <a href="http://localhost:8080/home">Home</a>
        <a href="http://localhost:8080/map">Map</a>
        <a href="http://localhost:8080/about">About Us</a>
      </div>
      <!-- search -->
      <div class="search">
        <input type="text" placeholder="please enter">
        <a href="#"><img src="../static/img/search.png" alt=""></a>
      </div>
      <div class="nav-town" style="background-color: #00a4ff;">
        <a href="http://localhost:8080/towns">Towns</a>
      </div>
      <!-- user -->
      <div class="user">
        <a href="http://localhost:8080/aboutMe">
          <img src="../static/img/user.png" alt="">
          <span>Steven</span>
        </a>
      </div>
    </nav>
  </div>
</div>


<!-- Trails -->
<div class="item wrapper">
  <!-- header -->
  <div class="hd">
    <h3>Trails</h3>
    <a href="" class="more">view all</a>
  </div>
  <!-- content -->
  <div class="bd">
    <ul>
      <li>
        <a href="http://localhost:8080/home">
          <div class="img"><img src="../static/img/town0.png" alt="content1"></div>
          <div class="text">
            <h4>Town Name</h4>
            <p><span>new</span> - <i>1123</i> view</p>
          </div>
        </a>
      </li>
      <li>
        <a href="#">
          <div class="img"><img src="../static/img/town1.jpg" alt="content2"></div>
          <div class="text">
            <h4>Town Name</h4>
            <p><span>new</span> - <i>1123</i> view</p>
          </div>
        </a>
      </li>
      <li>
        <a href="#">
          <div class="img"><img src="../static/img/town2.jpg" alt="content3"></div>
          <div class="text">
            <h4>Town Name</h4>
            <p><span>new</span> - <i>1123</i> view</p>
          </div>
        </a>
      </li>
      <li>
        <a href="#">
          <div class="img"><img src="../static/img/town3.jpg" alt="content4"></div>
          <div class="text">
            <h4>Town Name</h4>
            <p><span>new</span> - <i>1123</i> view</p>
          </div>
        </a>
      </li>
      <li>
        <a href="#">
          <div class="img"><img src="../static/img/town4.jpg" alt="content5"></div>
          <div class="text">
            <h4>Town Name</h4>
            <p><span>new</span> - <i>1123</i> view</p>
          </div>
        </a>
      </li>
      <li>
        <a href="#">
          <div class="img"><img src="../static/img/town4.jpg" alt="content6"></div>
          <div class="text">
            <h4>Town Name</h4>
            <p><span>new</span> - <i>1123</i> view</p>
          </div>
        </a>
      </li>
      <li>
        <a href="#">
          <div class="img"><img src="../static/img/town2.jpg" alt="content7"></div>
          <div class="text">
            <h4>Town Name</h4>
            <p><span>new</span> - <i>1123</i> view</p>
          </div>
        </a>
      </li>
      <li>
        <a href="#">
          <div class="img"><img src="../static/img/town3.jpg" alt="content8"></div>
          <div class="text">
            <h4>Town Name</h4>
            <p><span>new</span> - <i>1123</i> view</p>
          </div>
        </a>
      </li>
      <li>
        <a href="#">
          <div class="img"><img src="../static/img/town0.png" alt="content9"></div>
          <div class="text">
            <h4>Town Name</h4>
            <p><span>new</span> - <i>1123</i> view</p>
          </div>
        </a>
      </li>
      <li>
        <a href="#">
          <div class="img"><img src="../static/img/town1.jpg" alt="content10"></div>
          <div class="text">
            <h4>Town Name</h4>
            <p><span>new</span> - <i>1123</i> view</p>
          </div>
        </a>
      </li>
      <li>
        <a href="#">
          <div class="img"><img src="../static/img/town0.png" alt="content1"></div>
          <div class="text">
            <h4>Town Name</h4>
            <p><span>new</span> - <i>1123</i> view</p>
          </div>
        </a>
      </li>
      <li>
        <a href="#">
          <div class="img"><img src="../static/img/town1.jpg" alt="content2"></div>
          <div class="text">
            <h4>Town Name</h4>
            <p><span>new</span> - <i>1123</i> view</p>
          </div>
        </a>
      </li>
      <li>
        <a href="#">
          <div class="img"><img src="../static/img/town2.jpg" alt="content3"></div>
          <div class="text">
            <h4>Town Name</h4>
            <p><span>new</span> - <i>1123</i> view</p>
          </div>
        </a>
      </li>
      <li>
        <a href="#">
          <div class="img"><img src="../static/img/town3.jpg" alt="content4"></div>
          <div class="text">
            <h4>Town Name</h4>
            <p><span>new</span> - <i>1123</i> view</p>
          </div>
        </a>
      </li>
      <li>
        <a href="#">
          <div class="img"><img src="../static/img/town4.jpg" alt="content5"></div>
          <div class="text">
            <h4>Town Name</h4>
            <p><span>new</span> - <i>1123</i> view</p>
          </div>
        </a>
      </li>
    </ul>
  </div>
</div>


</body>

<footer>
  <!-- footer -->
  <div class="footer">
    <link rel="stylesheet" href="../static/css/footer.css">
    <div class="wrapper">
      <div class="left">
        <h2><a href="#">Smart Towns</a></h2>
        <p>More than just a digital high street, it connects consumers, businesses, towns and local authorities
          for a completely joined up approach. Smart towns make it easier for consumers to buy, find, see and
          do where they live and work, creating a better sense of community.</p>
        <a href="#" class="download">Download App</a>
        <p>@2023 Smart Towns Inc. All rights reserved.</p>
        <p></p>
      </div>
      <div class="right">
        <dl>
          <dt>About</dt>
          <dd><a href="#">About Us</a></dd>
          <dd><a href="#">Join Us</a></dd>
          <dd><a href="#">Contact Us</a></dd>
          <dd><a href="#">Q&A</a></dd>
        </dl>
        <dl>
          <dt>Community</dt>
          <dd><a href="#">Our Community</a></dd>
          <dd><a href="#">Guide</a></dd>
          <dd><a href="#">Community</a></dd>
        </dl>
      </div>
    </div>
  </div>

</footer>

</html>